#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Check and start USBNET
DefaultDependencies=no
Wants=phosphor-ipmi-net@eth0.service
After=phosphor-ipmi-net@eth0.service
ConditionPathExists=/var/cache/private/usbnet.lock

[Service]
ExecStart=/usr/sbin/usbnet check
Type=oneshot
RemainAfterExit=Yes
TimeoutSec=300

[Install]
WantedBy=multi-user.target
