// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2017 Intel Corporation
/dts-v1/;

#include "aspeed-g6.dtsi"
#include "aspeed-g6-pinctrl.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/leds/leds-pca955x.h>

/ {
	model = "OpenYard_BMC";
	compatible = "intel,s2600wf-bmc", "aspeed,ast2600";

	chosen {
		stdout-path = &uart5;
		bootargs = "earlycon";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	leds {
        compatible = "gpio-leds";

        // UID led
        identify {
            default-state = "off";
            gpios = <&gpio0 ASPEED_GPIO(G, 0) GPIO_ACTIVE_LOW>;
        };

        // Heart beat led
        heartbeat {
        	label = "HB_LED";
         	gpios = <&gpio0 ASPEED_GPIO(P, 7) GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
        };
    };

//	reserved-memory {
//		#address-cells = <1>;
//		#size-cells = <1>;
//		ranges;
//
//		vga_memory: framebuffer@9f000000 {
//			no-map;
//			reg = <0x9f000000 0x01000000>; /* 16M */
//		};
//	};
//
	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
			<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
			<&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>,
			<&adc1 4>, <&adc1 5>, <&adc1 6>, <&adc1 7>;
	};

};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};


&uart5 {
	status = "okay";
};


&mdio0 {
	status = "okay";
	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};	
};

&mac0 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&mac2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default>;
	clocks = <&syscon ASPEED_CLK_GATE_MAC3CLK>,
		 <&syscon ASPEED_CLK_MAC3RCLK>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};

&adc0 {
	vref = <2500>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	vref = <2500>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};


//&i2c1 {
//	status = "okay";
//};
//
//&i2c2 {
//	status = "okay";
//};
//
//&i2c3 {
//	status = "okay";
//};
//
//&i2c4 {
//	status = "okay";
//};
//
//&i2c5 {
//	status = "okay";
//};
//
//&i2c6 {
//	status = "okay";
//};
//
//&i2c7 {
//	status = "okay";
//};
//
//&i2c13 {
//	status = "okay";
//};
//
//&gfx {
//	status = "okay";
//};
//
//&pinctrl {
//	aspeed,external-nodes = <&gfx &lhc>;
//};

//&pwm_tacho {
//	status = "okay";
//	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
//			 &pinctrl_pwm2_default &pinctrl_pwm3_default
//			 &pinctrl_pwm4_default &pinctrl_pwm5_default
//			 &pinctrl_pwm6_default &pinctrl_pwm7_default>;
//};
