/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	model = "Intel MY62";
	compatible = "intel,whitly-bmc", "aspeed,ast2500";

	aliases {
		serial4 = &uart5;

		i2c16 = &i2c_nvme0;
		i2c17 = &i2c_nvme1;
		i2c18 = &i2c_nvme2;
		i2c19 = &i2c_nvme3;
		i2c20 = &i2c_nvme4;
		i2c21 = &i2c_nvme5;
		i2c22 = &i2c_12v;
		i2c23 = &i2c_48v;

		i2c28 = &i2c_m2_0;
		i2c29 = &i2c_m2_1;

		i2c14 = &i2c_ina219;   //0x40
		i2c30 = &i2c_gen_z_right;
		i2c31 = &i2c_gen_z_left;
		i2c31 = &i2c_cpld;

		i2c41 = &i2c_sas1;
		i2c42 = &i2c_sas2;
		i2c43 = &i2c_sas3;
		i2c44 = &i2c_sas4;

		i2c50 = &i2c_m2_lm5066;
		i2c51 = &i2c_channel5;
		i2c52 = &i2c_channel6;
		i2c53 = &i2c_channel7;
		i2c60 = &i2c_sw73_ch0;
		i2c54 = &i2c_sw73_ch1;
		i2c55 = &i2c_sw73_ch2;
		i2c56 = &i2c_sw73_ch3;
		i2c57 = &i2c_sw_ch0_gpu0;
		i2c58 = &i2c_sw_ch1_gpu1;
		i2c59 = &i2c_sw_ch2_gpu2;

		i2c61 = &i2c_sw70_ch1;
		i2c62 = &i2c_sw70_ch2;
		i2c63 = &i2c_sw70_ch3;
};
	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200n8 root=/dev/ram rw earlyrintk";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vga_memory: framebuffer@7f000000 {
			no-map;
			reg = <0x7f000000 0x01000000>;
		};

		video_engine_memory: jpegbuffer {
			size = <0x02000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
		ramoops@9eff0000{
			compatible = "ramoops";
			reg = <0x9eff0000 0x10000>;
			record-size = <0x2000>;
			console-size = <0x2000>;
		};
	};

	vga-shared-memory {
		compatible = "aspeed,ast2500-vga-sharedmem";
		reg = <0x9ff00000 0x100000>;
	};

	iio-hwmon {
			compatible = "iio-hwmon";
			io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
				<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>,
				<&adc 8>, <&adc 9>, <&adc 10>, <&adc 11>,
				<&adc 12>, <&adc 13>, <&adc 14>, <&adc 15>;
	};

	leds {
		compatible = "gpio-leds";

		heartbeat {
			label = "heartbeat";
			gpios = <&gpio ASPEED_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
			active-delay = <100>;
			inactive-delay = <100>;
		};

		identify {
			default-state = "on";
			gpios = <&gpio ASPEED_GPIO(G, 1) GPIO_ACTIVE_HIGH>;
		};

		status_amber {
			default-state = "off";
			gpios = <&gpio ASPEED_GPIO(G, 3) GPIO_ACTIVE_HIGH>;
		};

		status_green {
			default-state = "keep";
			gpios = <&gpio ASPEED_GPIO(G, 2) GPIO_ACTIVE_HIGH>;
		};
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "spi1";
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot@0 {
				reg = <0x0 0x60000>; // 384KB
				label = "u-boot";
			};

			u-boot-env@60000 {
				reg = <0x60000 0x20000>; // 128KB
				label = "u-boot-env";
			};

			kernel@80000 {
				reg = <0x80000 0x440000>; // 4352KB
				label = "kernel";
			};

			rofs@4c0000 {
				reg = <0x4c0000 0x2000000>; // 32MB
				label = "rofs";
			};

			rwfs@24c0000 {
				reg = <0x24c0000 0x1400000>; // 20MB
				label = "rwfs";
			};

			persistent@38C0000 {
				reg = <0x38C0000 0x640000>; // 6.4MB must end at 0x3f00000
				label = "persistent";
			};
		};
	};
};

&espi {
	status = "okay";
};

&jtag {
	status = "okay";
};

&syscon {
	/* uart-clock-high-speed; */
	status = "okay";
};

&adc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
	 &pinctrl_adc2_default &pinctrl_adc3_default &pinctrl_adc4_default
	 &pinctrl_adc5_default &pinctrl_adc6_default &pinctrl_adc7_default
	 &pinctrl_adc8_default &pinctrl_adc9_default &pinctrl_adc10_default
	 &pinctrl_adc11_default &pinctrl_adc12_default &pinctrl_adc13_default
	 &pinctrl_adc15_default>;
};

&gpio {
	status = "okay";
	/* Enable GPIOD0 and GPIOD2 pass-through by default */
	pinctrl-names = "pass-through";
	pinctrl-0 = <&pinctrl_gpid0_default
			&pinctrl_gpid2_default>;
	gpio-line-names =
	/*A0-A7*/	"A0","A1","FP_SW_1","BMC_READY","A4","A5","A6","A7",
	/*B0-B7*/	"B0","B1","B2","B3","TCK_MUX_SEL","SMI","B6","POST_COMPLETE",
	/*C0-C7*/	"BOARD_SKU_ID0","BOARD_SKU_ID1","BOARD_SKU_ID2","BOARD_SKU_ID3","C4","C5","C6","C7",
	/*D0-D7*/	"POWER_BUTTON","POWER_OUT","RESET_BUTTON","RESET_OUT","NMI_BUTTON","NMI_OUT","D6","D7",
	/*E0-E7*/	"BMC_RST_I2C_DEV_1","BMC_HOST_SMBUS_SEL_N","E2","E3","CPU1_MEM_THERM_EVENT","CPU2_MEM_THERM_EVENT","E6","E7",
	/*F0-F7*/	"SIO_POWER_GOOD","DEBUG_EN_N","PWR_DEBUG_N","P3VBAT_BRIDGE_EN","CPU_ERR0","CPU_ERR1","PLTRST_N","PRDY_N",
	/*G0-G7*/	"G0","G1","G2","G3","G4","FM_CLR_CMOS","G6","G7",
	/*H0-H7*/	"PS_PWROK","PCH_BMC_THERMTRIP","H2","H3","CPU_CATERR","CPU_ERR2","H6","H7",
	/*I0-I7*/   "JTAG_TMS", "JTAG_TCK", "JTAG_TDO", "JTAG_TDI", "I4", "I5", "I6", "I7",
	/*J0-J7*/   "J0", "J1", "J2", "J3", "J4", "J5", "J6", "J7",
	/*K0-K7*/   "K0", "K1", "K2", "K3", "K4", "K5", "K6", "K7",
	/*L0-L7*/   "L0", "L1", "L2", "L3", "L4", "L5", "L6", "L7",
	/*M0-M7*/	"RSMRST_N","SYSPWROK","M2","M3","M4","BOARD_SKU_ID5","M6","M7", /* Fake signals, NC port */
	/*N0-N7*/   "N0", "N1", "N2", "N3", "N4", "N5", "N6", "N7",
	/*O0-O7*/   "O0", "O1", "O2", "O3", "O4", "O5", "O6", "O7",
	/*P0-P7*/   "P0", "CPU1_THERMTRIP", "P2", "P3", "CPU1_FIVR_FAULT", "CPU1_VRHOT", "CPU1_MEM_ABCD_VRHOT", "CPU1_MEM_EFGH_VRHOT",
	/*Q0-Q7*/	"Q0","Q1","Q2","Q3","Q4","Q5","ID_BUTTON","Q7",
	/*R0-R7*/	"R0","R1","R2","BIOS_SEL","R4","BAT_SENSE","R6","R7",
	/*S0-S7*/   "S0", "BPB_CPLD_PROGRAMMING_N", "S2", "S3", "S4", "S5", "S6", "S7",
	/*T0-T7*/   "T0", "T1", "T2", "T3", "T4", "T5", "T6", "T7",
	/*U0-U7*/   "U0", "U1", "U2", "U3", "U4", "U5", "U6", "U7",
	/*V0-V7*/   "V0", "V1", "V2", "V3", "V4", "V5", "V6", "V7",
	/*W0-W7*/   "W0", "W1", "W2", "W3", "W4", "W5", "W6", "W7",
	/*X0-X7*/   "X0", "X1", "X2", "X3", "X4", "X5", "X6", "X7",
	/*Y0-Y7*/	"SIO_S3","SIO_S5","Y2","SIO_ONCONTROL","Y4","Y5","Y6","Y7",
	/*Z0-Z7*/   "CPU_ERR0", "CPU_ERR1", "Z2", "Z3", "Z4", "Z5", "Z6", "Z7",
	/*AA0-AA7*/ "AA0", "CPU2_THERMTRIP", "AA2", "AA3", "CPU2_FIVR_FAULT", "CPU2_VRHOT", "AA6", "AA7",
	/*AB0-AB7*/ "AB0", "AB1", "AB2", "AB3", "AB4", "AB5", "AB6", "AB7",
	/*AC0-AC7*/ "AC0", "AC1", "AC2", "AC3", "AC4", "AC5", "AC6", "AC7";
};

&sgpio {
	status = "disabled";
	ngpios = <80>;
	gpio-line-names =
	/* SGPIO output lines */
	/*OA0-OA7*/ "OA0","OA1","OA2","OA3","OA4","OA5","OA6","OA7",
	/*OB0-OB7*/ "OB0","OB1","OB2","OB3","OB4","OB5","OB6","OB7",
	/*OC0-OC7*/ "OC0","OC1","OC2","OC3","OC4","OC5","OC6","OC7",
	/*OD0-OD7*/ "OD0","OD1","OD2","OD3","OD4","OD5","OD6","OD7",
	/*OE0-OE7*/ "OE0","OE1","OE2","OE3","OE4","OE5","OE6","OE7",
	/*OF0-OF7*/ "OF0","OF1","OF2","OF3","OF4","OF5","OF6","OF7",
	/*OG0-OG7*/ "OG0","OG1","OG2","OG3","OG4","OG5","OG6","OG7",
	/*OH0-OH7*/ "OH0","OH1","OH2","OH3","OH4","OH5","OH6","OH7",
	/*OI0-OI7*/ "OI0","OI1","OI2","OI3","OI4","OI5","OI6","OI7",
	/*OJ0-OJ7*/ "SGPMCK","SGPMLD","SGPMO","SGPMI","OJ4","OJ5","OJ6","OJ7",
	/*DUMMY*/   "","","","","","","","",
	/*DUMMY*/   "","","","","","","","",

	/* SGPIO input lines */
	/*IA0-IA7*/ "IA0","IA1","IA2","IA3","IA4","IA5","IA6","IA7",
	/*IB0-IB7*/ "IB0","IB1","IB2","IB3","IB4","IB5","IB6","IB7",
	/*IC0-IC7*/ "IC0","IC1","IC2","IC3","IC4","IC5","IC6","IC7",
	/*ID0-ID7*/ "ID0","ID1","ID2","ID3","ID4","ID5","ID6","ID7",
	/*IE0-IE7*/ "IE0","IE1","IE2","IE3","IE4","IE5","IE6","IE7",
	/*IF0-IF7*/ "IF0","IF1","IF2","IF3","IF4","IF5","IF6","IF7",
	/*IG0-IG7*/ "IG0","IG1","IG2","IG3","IG4","IG5","IG6","IG7",
	/*IH0-IH7*/ "IH0","IH1","IH2","IH3","IH4","IH5","IH6","IH7",
	/*II0-II7*/ "II0","II1","II2","II3","II4","II5","II6","II7",
	/*IJ0-IJ7*/ "IJ0","IJ1","IJ2","IJ3","IJ4","IJ5","IJ6","IJ7";
};

&kcs3 {
	kcs_addr = <0xCA2>;
	aspeed,lpc-io-reg = <0xca2>;
	status = "okay";
};

&kcs4 {
	kcs_addr = <0xCA4>;
	aspeed,lpc-io-reg = <0xca4>;
	status = "okay";
};

&lpc_sio {
	status = "okay";
};


&lpc_snoop {
	snoop-ports = <0x80>;
	status = "okay";
};

&mbox {
	status = "okay";
};

/**
 * BIOS flash connected via MUX controlled by GPIO R.3 (BIOS_SEL_N)
*/
&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		m25p,fast-read;
		status = "okay";
	};
};

&mac0 {
	status = "disabled";
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&i2c0 {
	bus-frequency = <100000>;
	general-call;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
	switch_sashd {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x73>;
		i2c-mux-idle-disconnect;
		i2c_sas4: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		i2c_sas3: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		i2c_sas2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		i2c_sas1: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};

};

&i2c1 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	i2c-switch@73 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x73>;
		i2c-mux-idle-disconnect;

		i2c_sw73_ch0: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		i2c_sw73_ch1: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			fru@0x53 {
				compatible = "atmel,24c256";
				reg = <0x53>;
			};

			i2c-switch_1@70 {
				compatible = "nxp,pca9545";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;
				i2c-mux-idle-disconnect;

				i2c_gen_z_right: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};
				i2c_sw70_ch1: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};
				i2c_sw70_ch2: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};
				i2c_sw70_ch3: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;

					tmp75@4c {
						compatible = "ti,tmp75";
						reg = <0x4c>;
					};
				};
			};

			i2c-switch_1@71 {
				compatible = "nxp,pca9545";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x71>;
				i2c-mux-idle-disconnect;

				i2c_sw_ch0_gpu0: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				i2c_sw_ch1_gpu1: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				i2c_sw_ch2_gpu2: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};
			};
		};

		i2c_sw73_ch2: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

				i2c-switch_1@70 {
					compatible = "nxp,pca9545";
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0x70>;
					i2c-mux-idle-disconnect;

					i2c_gen_z_left: i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;
					};
				};
		};

		i2c_sw73_ch3: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

				i2c-switch_3@70 {
					compatible = "nxp,pca9548";
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0x70>;
					i2c-mux-idle-disconnect;

						i2c_m2_0: i2c@0 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <0>;
						};
						i2c_m2_1: i2c@1 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <1>;
						};
						i2c_ina219: i2c@2 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <2>;

							ina219@40 {
								compatible = "ti,ina219";
								shunt-resistor = <600>; //500uOhm + 100uOhm (loss compensation)
								reg = <0x40>;
							};
						};
						i2c_clk_buf: i2c@3 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <3>;
						};
						i2c_m2_lm5066: i2c@4 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <4>;
						};
						i2c_channel5: i2c@5 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <5>;
						};
						i2c_channel6: i2c@6 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <6>;
						};
						i2c_channel7: i2c@7 {
							#address-cells = <1>;
							#size-cells = <0>;
							reg = <7>;
							nct7802-m2@28 {
								compatible = "nuvoton,nct7802";
								reg = <0x28>;
								#address-cells = <1>;
								#size-cells = <0>;
								channel@1 {
									reg = <1>;
									sensor-type = "temperature";
									temperature-mode = "thermistor";
								};
								channel@2 {
									reg = <2>;
									sensor-type = "temperature";
									temperature-mode = "thermistor";
								};
							};
						};
					};
			};
		};
};

&i2c2 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	multi-master;
	status = "okay";
	ipmb@10 {
		compatible = "ipmb-dev";
		reg = <0x10>;
		i2c-protocol;
	};
};

&i2c3 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";


	i2c-switch@72 {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x72>;
		i2c-mux-idle-disconnect;

		i2c_12v: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		i2c_48v: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
	};
};

&i2c4 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	tmp75@4b {
		compatible = "ti,tmp75";
		reg = <0x4b>;
	};

	tmp75@4c {
		compatible = "ti,tmp75";
		reg = <0x4c>;
	};

	tmp75@4d {
		compatible = "ti,tmp75";
		reg = <0x4d>;
	};

	tmp75@4f {
		compatible = "ti,tmp75";
		reg = <0x4f>;
	};
	i2c-switch@71 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;
		i2c-mux-idle-disconnect;
		interrupt-controller;
		#interrupt-cells = <2>;

		i2c_cpld: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
	};
};

&i2c5 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	/*i2c-switch_dimms {
		compatible = "nxp,pca9545";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x72>;
		//i2c-mux-idle-disconnect;
		interrupt-controller;
		#interrupt-cells = <2>;
		i2c-mux-idle-disconnect;

		i2c_cpu0_abcd: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		i2c_cpu0_efgh: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		i2c_cpu1_abcd: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		i2c_cpu1_efgh: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};
	};*/
};

&i2c6 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
	multi-master;

	ipmb@11 {
		compatible = "ipmb-dev";
		reg = <0x11>;
		i2c-protocol;
	};
};

&i2c7 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	tmp75@48 {
		compatible = "ti,tmp75";
		reg = <0x48>;
	};

	fru@0x51 {
		compatible = "atmel,24c256";
		reg = <0x51>;
	};
};

/* HDD_BPB */

&i2c8 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

	nct7802-left@29 {
		compatible = "nuvoton,nct7802";
		reg = <0x29>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel@1 {
			reg = <1>;
			sensor-type = "temperature";
			temperature-mode = "thermistor";
		};
		channel@2 {
			reg = <2>;
			sensor-type = "temperature";
			temperature-mode = "thermistor";
		};
	};
	nct7802-right@28 {
		compatible = "nuvoton,nct7802";
		reg = <0x28>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel@1 {
			reg = <1>;
			sensor-type = "temperature";
			temperature-mode = "thermistor";
		};
		channel@2 {
			reg = <2>;
			sensor-type = "temperature";
			temperature-mode = "thermistor";
		};
	};
};

&i2c11 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";

		i2c-switch@70 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;
				i2c-mux-idle-disconnect;

				i2c_nvme0: i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;
				};

				i2c_nvme1: i2c@1 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <1>;
				};

				i2c_nvme2: i2c@2 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <2>;
				};

				i2c_nvme3: i2c@3 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <3>;
				};
				i2c_nvme4: i2c@4 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <4>;
				};
				i2c_nvme5: i2c@5 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <5>;
				};
		};
};

&i2c12 {
	bus-frequency = <100000>;
	aspeed,dma-buf-size = <4095>;
	aspeed,hw-timeout-ms = <300>;
	status = "okay";
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2_default &pinctrl_pwm3_default>;

		fan@2 {
				reg = <0x02>;
				aspeed,fan-tach-ch = /bits/ 8 <0x02>;
		};
		fan@3 {
				reg = <0x03>;
				aspeed,fan-tach-ch = /bits/ 8 <0x03>;
		};
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&vhub {
	status = "okay";
};

&rtc {
	status = "okay";
};

&peci0 {
	status = "okay";
};

/* ttyS0 0x1e783000  Passed to host via SIO -> LPC */
&uart1 {
	status = "disabled";
};

/* ttyS1 0x1e78d000 Passed to host via SIO -> LPC */
&uart2{
	status = "disabled";
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_txd4_default &pinctrl_rxd4_default>;
	//pinctrl-0 = <>;
};

/* ttyS2 0x1e78e000 */
&uart3{
	status = "okay";
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_txd4_default &pinctrl_rxd4_default>;
	//pinctrl-0 = <>;
};

/* ttyS3 0x1e78f000 This UART is used to be internally connected to UART1 for SOL function */
&uart4{
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

/* ttyS4 0x1e784000 This is console UART */
&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

/* ttyS5 0x1e787000 This is host UART sitting on LPC */
&vuart {
	status = "disabled";
};

&uart_routing {
	status = "okay";
};
