# aspeed-pwm driver
CONFIG_HAVE_CLK=y
CONFIG_PWM=y
CONFIG_OF=y
#CONFIG_PWM_ASPEED_AST2600=y
# pwm-fan driver
#CONFIG_SENSORS_PWM_FAN=y
# aspeed-tach driver
#CONFIG_SENSORS_TACH_ASPEED_AST2600=y
# aspeed-adc driver
CONFIG_COMMON_CLK=y
CONFIG_ASPEED_ADC=y
# devmem
CONFIG_DEVMEM=y
# fixed-link feature
CONFIG_PHYLIB=y
CONFIG_FIXED_PHY=y
# humidity and temperature sensor
CONFIG_HDC100X=y
# interposer HSC driver
CONFIG_SENSORS_MP5023=y
# RTC
CONFIG_RTC_DRV_PCF85363=y
# FUSB302 driver
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_FUSB302=y
# SPI GPIO
CONFIG_SPI_GPIO=y
CONFIG_SPI_BITBANG=y
CONFIG_SENSORS_ASPEED=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_SENSORS_INA2XX=y
CONFIG_SENSORS_NCT7802=y
CONFIG_SENSORS_ADM1275=y
CONFIG_SENSORS_IR35221=y
CONFIG_SENSORS_JC42=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_SENSORS_PECI_DIMMTEMP=y
CONFIG_SENSORS_NCT7601=y
CONFIG_SENSORS_LM25066=y
CONFIG_SENSORS_BEL_PFE=y
CONFIG_SENSORS_ADT7462=y
CONFIG_SENSORS_LM85=y
CONFIG_GPIO_ASPEED_SGPIO=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_SENSORS_ASPEED_G6=y
CONFIG_SERIAL_8250_ASPEED_VUART=y
CONFIG_VIDEO_ASPEED=y
CONFIG_USB_ASPEED_VHUB=y
CONFIG_ASPEED_UART_ROUTING=y
CONFIG_ASPEED_VGA_SHAREDMEM=y
CONFIG_I2C_SLAVE_MQUEUE=y
CONFIG_IPMB_DEVICE_INTERFACE=y
CONFIG_ASPEED_KCS_IPMI_BMC=y
CONFIG_EEPROM_EE1004=y

CONFIG_ASPEED_LPC_CTRL=n
CONFIG_ASPEED_LPC_MBOX=y
CONFIG_ASPEED_LPC_SIO=y
ASPEED_LPC_SNOOP=y
CONFIG_ASPEED_OTP=y
CONFIG_ASPEED_ESPI_SLAVE=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_F_ECM=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS=y
CONFIG_BRIDGE=y
CONFIG_DRM_ASPEED_GFX=y
CONFIG_ASPEED_RVAS=y
CONFIG_EARLY_PRINTK=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100
CONFIG_FB_NOTIFY=y
CONFIG_FB=y
CONFIG_FB_CFB_FILLRECT=y
CONFIG_FB_CFB_COPYAREA=y
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_DEFERRED_IO=y

# For debug of VGA/DP
# For tests on SOM DP
#CONFIG_TTY=y
#CONFIG_VT=y
#CONFIG_CONSOLE_TRANSLATIONS=y
#CONFIG_VT_CONSOLE=y
#CONFIG_VT_CONSOLE_SLEEP=y
#CONFIG_HW_CONSOLE=y
#CONFIG_VT_HW_CONSOLE_BINDING=y
#CONFIG_UNIX98_PTYS=y
#CONFIG_LDISC_AUTOLOAD=y
#CONFIG_DEVMEM=y
#CONFIG_DUMMY_CONSOLE=y
#CONFIG_FRAMEBUFFER_CONSOLE=y

CONFIG_JTAG=y
CONFIG_JTAG_ASPEED=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_CONNTRACK=y

CONFIG_SENSORS_TPS53659=y

CONFIG_REGMAP_I2C=y
CONFIG_ASPEED_SSIF_IPMI_BMC=y
CONFIG_MFD_CORE=y
CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_MFD_SMPRO=y
CONFIG_SENSORS_SMPRO=y
CONFIG_SMPRO_MISC=y
CONFIG_SMPRO_ERRMON=y
CONFIG_RTC_DRV_PCF85063=y

CONFIG_VMSPLIT_1G=y

# Uncomment to enable AST2600 HACE/ACRY
#CONFIG_CRYPTO_HW=y
#CONFIG_CRYPTO_USER_API=y
#CONFIG_CRYPTO_USER_API_HASH=y
#CONFIG_CRYPTO_USER_API_SKCIPHER=y
#CONFIG_CRYPTO_USER_API_RNG=y
#CONFIG_CRYPTO_USER_API_AEAD=y
#CONFIG_CRYPTO_USER_API_AKCIPHER=y
#CONFIG_CRYPTO_DEV_ASPEED=y
#CONFIG_CRYPTODEV=y
